<?php
use Devspark\lrs\system\View;
View::extend('layout');
View::sections('title',$title);

?>
<?php View::startSection('content')?>
<form action="" method="post">
    <h2>Add User</h2><br>
    <p></p><br>
    <label>Inter your Email</label><br>
    <input type="email" id="email" name="email"><br>

    <p></p><br>
    <label>Inter your Name</label><br>
    <input type="text" id="name" name="name"><br>

    <p></p><br>
    <label>Inter your password</label><br>
    <input type="password" id="password" name="password"><br>

    <p></p><br>
    <label>Confirm your password</label><br>
    <input type="password" id="confirmation" name="confirmation"><br>

    <input type="submit">
</form>
<?php View::endSection('content')?>
