<?php

use Devspark\lrs\system\View; ?>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?=View::yieldC('title')?></title>
</head>
<body>
<a href="">Main page</a>
<a href="">login</a>
<a href="">logout</a>
<div>
    <?=View::yieldC('content') ?>
</div>
</body>
</html>
